<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="csmatio" version="1.0.20" targetFramework="net471" />
  <package id="HDF.PInvoke" version="1.10.6.1" targetFramework="net471" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net48" />
  <package id="MonoGame.Framework.Portable" version="3.7.1.189" targetFramework="net47" />
  <package id="NuGet.Build.Packaging" version="0.2.5-dev.8" targetFramework="net471" developmentDependency="true" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net47" />
</packages>